.awardList {
    padding:40px 60px !important;
  }
.awardDiv{
   margin-top:40px !important;
   margin-bottom:40px !important;
  }
.voteDiv{
    padding:20px !important;
    margin: 0 auto !important;
    /* position:fixed !important;
    top:100px !important;
    right:70px !important; */
  }
  .numberDiv {
      width:80px !important;
      height:80px !important;
      display:flex !important;
      justify-content:center !important;
      align-items: center !important;
      color:grey !important;
      font-size: 2em !important;
      border-radius:50% !important;
      background-color: #a6c4f4 !important;
  }
  .numbersRow {
    display:flex !important;
    justify-content:space-between !important;
    align-items: center !important;
  }